root = true

[*]
charset = utf-8
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4
max_line_length = 250

[*.cs]
dotnet_diagnostic.bc42024.severity = error
dotnet_diagnostic.ca1069.severity = error
dotnet_diagnostic.ca1304.severity = silent
dotnet_diagnostic.ca1305.severity = silent
dotnet_diagnostic.ca1716.severity = silent
dotnet_diagnostic.ca1805.severity = silent
dotnet_diagnostic.ca1821.severity = error
dotnet_diagnostic.ca1822.severity = silent
dotnet_diagnostic.ca1832.severity = error
dotnet_diagnostic.ca1852.severity = warning
dotnet_diagnostic.ca2000.severity = error
dotnet_diagnostic.ca2211.severity = error
dotnet_diagnostic.cs0067.severity = error
dotnet_diagnostic.cs0078.severity = none
dotnet_diagnostic.cs0108.severity = error
dotnet_diagnostic.cs0109.severity = error
dotnet_diagnostic.cs0114.severity = error
dotnet_diagnostic.cs0162.severity = error
dotnet_diagnostic.cs0164.severity = error
dotnet_diagnostic.cs0168.severity = error
dotnet_diagnostic.cs0169.severity = error
dotnet_diagnostic.cs0183.severity = error
dotnet_diagnostic.cs0184.severity = error
dotnet_diagnostic.cs0197.severity = error
dotnet_diagnostic.cs0219.severity = error
dotnet_diagnostic.cs0252.severity = error
dotnet_diagnostic.cs0253.severity = error
dotnet_diagnostic.cs0414.severity = error
dotnet_diagnostic.cs0420.severity = error
dotnet_diagnostic.cs0458.severity = error
dotnet_diagnostic.cs0464.severity = error
dotnet_diagnostic.cs0465.severity = error
dotnet_diagnostic.cs0469.severity = error
dotnet_diagnostic.cs0472.severity = error
dotnet_diagnostic.cs0628.severity = error
dotnet_diagnostic.cs0642.severity = error
dotnet_diagnostic.cs0649.severity = error
dotnet_diagnostic.cs0652.severity = error
dotnet_diagnostic.cs0657.severity = error
dotnet_diagnostic.cs0658.severity = error
dotnet_diagnostic.cs0659.severity = error
dotnet_diagnostic.cs0660.severity = error
dotnet_diagnostic.cs0661.severity = error
dotnet_diagnostic.cs0665.severity = error
dotnet_diagnostic.cs0672.severity = error
dotnet_diagnostic.cs0675.severity = error
dotnet_diagnostic.cs0693.severity = error
dotnet_diagnostic.cs1030.severity = warning
dotnet_diagnostic.cs1058.severity = error
dotnet_diagnostic.cs1066.severity = error
dotnet_diagnostic.cs1522.severity = error
dotnet_diagnostic.cs1570.severity = error
dotnet_diagnostic.cs1571.severity = error
dotnet_diagnostic.cs1572.severity = error
dotnet_diagnostic.cs1573.severity = error
dotnet_diagnostic.cs1574.severity = error
dotnet_diagnostic.cs1580.severity = error
dotnet_diagnostic.cs1581.severity = error
dotnet_diagnostic.cs1584.severity = error
dotnet_diagnostic.cs1587.severity = error
dotnet_diagnostic.cs1589.severity = error
dotnet_diagnostic.cs1590.severity = error
dotnet_diagnostic.cs1591.severity = warning
dotnet_diagnostic.cs1592.severity = error
dotnet_diagnostic.cs1710.severity = error
dotnet_diagnostic.cs1711.severity = error
dotnet_diagnostic.cs1712.severity = error
dotnet_diagnostic.cs1717.severity = error
dotnet_diagnostic.cs1723.severity = error
dotnet_diagnostic.cs1911.severity = error
dotnet_diagnostic.cs1957.severity = error
dotnet_diagnostic.cs1981.severity = error
dotnet_diagnostic.cs1988.severity = error
dotnet_diagnostic.cs1998.severity = error
dotnet_diagnostic.cs4014.severity = suggestion
dotnet_diagnostic.cs7022.severity = error
dotnet_diagnostic.cs7023.severity = error
dotnet_diagnostic.cs7095.severity = error
dotnet_diagnostic.cs8073.severity = error
dotnet_diagnostic.cs8094.severity = error
dotnet_diagnostic.cs8123.severity = error
dotnet_diagnostic.cs8321.severity = error
dotnet_diagnostic.cs8383.severity = error
dotnet_diagnostic.cs8416.severity = error
dotnet_diagnostic.cs8417.severity = error
dotnet_diagnostic.cs8424.severity = error
dotnet_diagnostic.cs8425.severity = error
dotnet_diagnostic.cs8500.severity = none
dotnet_diagnostic.cs8509.severity = error
dotnet_diagnostic.cs8524.severity = error
dotnet_diagnostic.cs8597.severity = error
dotnet_diagnostic.cs8600.severity = error
dotnet_diagnostic.cs8601.severity = error
dotnet_diagnostic.cs8602.severity = error
dotnet_diagnostic.cs8603.severity = error
dotnet_diagnostic.cs8604.severity = error
dotnet_diagnostic.cs8605.severity = error
dotnet_diagnostic.cs8607.severity = error
dotnet_diagnostic.cs8608.severity = error
dotnet_diagnostic.cs8609.severity = error
dotnet_diagnostic.cs8610.severity = error
dotnet_diagnostic.cs8611.severity = error
dotnet_diagnostic.cs8612.severity = error
dotnet_diagnostic.cs8613.severity = error
dotnet_diagnostic.cs8614.severity = error
dotnet_diagnostic.cs8615.severity = error
dotnet_diagnostic.cs8616.severity = error
dotnet_diagnostic.cs8617.severity = error
dotnet_diagnostic.cs8618.severity = error
dotnet_diagnostic.cs8619.severity = error
dotnet_diagnostic.cs8620.severity = error
dotnet_diagnostic.cs8621.severity = error
dotnet_diagnostic.cs8622.severity = error
dotnet_diagnostic.cs8624.severity = error
dotnet_diagnostic.cs8625.severity = error
dotnet_diagnostic.cs8629.severity = error
dotnet_diagnostic.cs8631.severity = error
dotnet_diagnostic.cs8632.severity = error
dotnet_diagnostic.cs8633.severity = error
dotnet_diagnostic.cs8634.severity = error
dotnet_diagnostic.cs8643.severity = error
dotnet_diagnostic.cs8644.severity = error
dotnet_diagnostic.cs8645.severity = error
dotnet_diagnostic.cs8655.severity = error
dotnet_diagnostic.cs8656.severity = error
dotnet_diagnostic.cs8667.severity = error
dotnet_diagnostic.cs8669.severity = error
dotnet_diagnostic.cs8670.severity = error
dotnet_diagnostic.cs8714.severity = error
dotnet_diagnostic.cs8762.severity = error
dotnet_diagnostic.cs8763.severity = error
dotnet_diagnostic.cs8764.severity = error
dotnet_diagnostic.cs8765.severity = error
dotnet_diagnostic.cs8766.severity = error
dotnet_diagnostic.cs8767.severity = error
dotnet_diagnostic.cs8768.severity = error
dotnet_diagnostic.cs8769.severity = error
dotnet_diagnostic.cs8770.severity = error
dotnet_diagnostic.cs8774.severity = error
dotnet_diagnostic.cs8775.severity = error
dotnet_diagnostic.cs8776.severity = error
dotnet_diagnostic.cs8777.severity = error
dotnet_diagnostic.cs8794.severity = error
dotnet_diagnostic.cs8819.severity = error
dotnet_diagnostic.cs8824.severity = error
dotnet_diagnostic.cs8825.severity = error
dotnet_diagnostic.cs8846.severity = error
dotnet_diagnostic.cs8847.severity = error
dotnet_diagnostic.cs8851.severity = error
dotnet_diagnostic.cs8860.severity = error
dotnet_diagnostic.cs8892.severity = error
dotnet_diagnostic.cs8907.severity = error
dotnet_diagnostic.cs8947.severity = error
dotnet_diagnostic.cs8960.severity = error
dotnet_diagnostic.cs8961.severity = error
dotnet_diagnostic.cs8962.severity = error
dotnet_diagnostic.cs8963.severity = error
dotnet_diagnostic.cs8965.severity = error
dotnet_diagnostic.cs8966.severity = error
dotnet_diagnostic.cs8971.severity = error
dotnet_diagnostic.cs8981.severity = error
dotnet_diagnostic.cs9042.severity = error
dotnet_diagnostic.ide0001.severity = error
dotnet_diagnostic.ide0002.severity = error
dotnet_diagnostic.ide0003.severity = error
dotnet_diagnostic.ide0004.severity = error
dotnet_diagnostic.ide0005.severity = error
dotnet_diagnostic.ide0008.severity = suggestion
dotnet_diagnostic.ide0016.severity = error
dotnet_diagnostic.ide0017.severity = error
dotnet_diagnostic.ide0018.severity = error
dotnet_diagnostic.ide0019.severity = error
dotnet_diagnostic.ide0025.severity = error
dotnet_diagnostic.ide0026.severity = silent
dotnet_diagnostic.ide0027.severity = error
dotnet_diagnostic.ide0032.severity = silent
dotnet_diagnostic.ide0034.severity = error
dotnet_diagnostic.ide0035.severity = error
dotnet_diagnostic.ide0036.severity = error
dotnet_diagnostic.ide0039.severity = error
dotnet_diagnostic.ide0040.severity = error
dotnet_diagnostic.ide0044.severity = error
dotnet_diagnostic.ide0045.severity = none
dotnet_diagnostic.ide0047.severity = error
dotnet_diagnostic.ide0049.severity = error
dotnet_diagnostic.ide0051.severity = error
dotnet_diagnostic.ide0052.severity = error
dotnet_diagnostic.ide0053.severity = silent
dotnet_diagnostic.ide0054.severity = error
dotnet_diagnostic.ide0055.severity = silent
dotnet_diagnostic.ide0056.severity = error
dotnet_diagnostic.ide0058.severity = silent
dotnet_diagnostic.ide0059.severity = error
dotnet_diagnostic.ide0060.severity = warning
dotnet_diagnostic.ide0062.severity = error
dotnet_diagnostic.ide0063.severity = error
dotnet_diagnostic.ide0071.severity = error
dotnet_diagnostic.ide0078.severity = error
dotnet_diagnostic.ide0079.severity = warning
dotnet_diagnostic.ide0090.severity = error
dotnet_diagnostic.ide0100.severity = error
dotnet_diagnostic.ide0120.severity = error
dotnet_diagnostic.ide0180.severity = error
dotnet_diagnostic.ide0251.severity = error
dotnet_diagnostic.ide0270.severity = suggestion
dotnet_diagnostic.ide1006.severity = error
dotnet_diagnostic.syslib1045.severity = error
dotnet_diagnostic.wme006.severity = warning

[*.go]
indent_style = tab
indent_size = 4

[*.json]
indent_style = space
indent_size = 2
